[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

"mastodon.py" = "*"
coloredlogs = "*"
dateparser = "*"
mf2py = "*"
mf2util = "*"
python-dateutil = "*"
ronkyuu = "*"
tweepy = "*"


[dev-packages]

pytest = "*"
setuptools-scm = "*"
pytest-runner = "*"
